<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu Site</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <!-- Adicione links para seus arquivos CSS, bibliotecas JavaScript, etc. -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="http://localhost:8000/">Página Inicial</a></li>
                <li><a href="http://localhost:8000/produtos">Produtos</a></li>
                <li><a href="http://localhost:8000/clientes">Clientes</a></li>
                <!-- Adicione mais links de navegação conforme necessário -->
            </ul>
        </nav>
    </header>

    <main>
        <!-- Área para o conteúdo dos templates -->
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {{ year }} Seu Site. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
